/*basisstijl*/

body {
    font-family: tahoma, sans-serif;
    background-color: lightcyan;
    color: black;
}

a {
    justify-content: space-between;
}

a:link {
    background-color: inherit;
    color: red;
}

a:visited {
    background-color: inherit;
    color: green;
}

a:hover {
    background-color: #000;
    color: #fff;
}

a:active {
    background-color: inherit;
    color: blue;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    flex: 1 1 auto;
    margin: 20px;
    text-align: center;
    list-style-type: none;
}
