body {
    font-family: Lato, Helvetica, sans-serif;
}

@media (min-width: 576px) {

    body,
    #container {
        color: red;
        background-color: yellow;
    }
}

@media (min-width: 768px) {

    body,
    #container {
        color: #fff;
        background-color: #000;
    }

    h1,
    h2 {
        font-family: Roboto;
    }
}

@media (min-width: 992px) {

    body,
    #container {
        color: #000;
        background-color: #ffe;
    }

    h1,
    h2 {
        font-family: Ibarra Real Nova;
    }

}

ul {
    display: flex;
    justify-content: space-around;
}

ul li {
    flex: 1 1 auto;
    margin: 20px;
    text-align: center;
    list-style-type: none;
}
